.drawflow .drawflow-node {
    border-radius: 8px;
    background: #181818;
    border: 2px solid #494949;
    color: white;
    min-width: 250px;
}

.drawflow .drawflow-node.selected {
    background: #181818;
    border: 2px solid rgb(78, 123, 207);
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    background: #181818;
    border: 3px solid #494949;
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.drawflow .drawflow-node .input {
    left: -45px;
}

.drawflow .drawflow-node .output {
    right: -27px;
}

.drawflow .drawflow-node .output:hover, .drawflow .drawflow-node .input:hover {
    background: #494949;
    border: 3px solid rgb(78, 123, 207);
}

.drawflow .connection .main-path {
    stroke-width: 3px;
    stroke: #c5c343;
}

.drawflow .connection .main-path:hover {
    stroke: rgb(78, 123, 207);
}

.parent-node .drawflow-delete {
    display: none !important;
}

.drawflow .drawflow-node.selected .drawflow_content_node .header {
    background:rgb(78, 123, 207);
}


.drawflow .drawflow-node .drawflow_content_node input, .drawflow .drawflow-node .drawflow_content_node .el-select, .drawflow .drawflow-node .drawflow_content_node button {
    width: 100%; 
}

.el-drawer__body {
    color: black;
}

.el-input-number {
    width: 100%;
}

.el-icon-plus {
    content: url(https://www.svgrepo.com/show/99205/plus-symbol-button.svg);
    height: 10px;
}

.el-icon-minus {
    content: url(https://www.svgrepo.com/show/44062/minus.svg);
    height: 10px;
}

.el-icon-arrow-up {
    content: url(https://www.svgrepo.com/show/350444/arrow-up.svg);
    height: 10px;
}

.el-icon-arrow-down {
    content: url(https://www.svgrepo.com/show/304563/arrow-down.svg);
    height: 10px;
}

.el-icon-close {
    content: url(https://www.svgrepo.com/show/305186/close.svg);
    height: 10px;
}

.inputError {
    color: red;
}
